[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pixelyn/vendor/spdlog"]
	path = Pixelyn/vendor/spdlog
	url = https://github.com/gabime/spdlog
